.div1 {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    border: 5px solid white;
}
.div2 {
    background-color: orange;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 130px;
    border: 5px solid white;
}
.div3 {
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 250px;
    border: 5px solid white;
}
.div4 {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 70px;
    left: 70px;
    border: 5px solid white;
}
.div5 {
    background-color: violet;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 185px;
    top: 70px;
    border: 5px solid white;
}